.projectSection{
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 60px 0;
}
.projectCard {
    flex: 1;
    background: linear-gradient(
        to bottom,
        var(--color-translucent) 0%,
        var(--color-background-secondary) 100%
    );

    height: 100%;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    display: flex;              
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projectCard:hover {
    background: linear-gradient(
        to bottom,
        var(--color-translucent) 0%,
        var(--color-background-secondary) 100%
    );

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projectBox {
    padding: 12px 10px 0;
    box-sizing: border-box;
}

.title{
    position: relative;
    font-size: 2rem;
    font-weight: 400; 
    font-family: 'Press Start 2P', cursive; 
    line-height:1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 2rem;
    z-index: 1;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}
.projectsTitle{
    font-size: 1.2rem;
    font-family: var(--font-open-sans);
    color: var(--color-text);
    margin: 0;
}
.projects {
    display: grid;                   
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 100%;
    max-width: 1100px;
    margin: 2rem auto;
    box-sizing: border-box;
    padding: 0 1rem;
}
.cardContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;  
}
.image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 1.2rem;
    
}
.description {
    margin: 1rem;
    padding:0;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-text);
    font-family: var(--font-open-sans);

    overflow: hidden;
    max-height: 2.3em;               
    opacity: 0.9;
    transform: translateY(0);
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.projectCard:hover .description {
    max-height: 100%;             
    opacity: 1;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 0.5rem;
    margin: 1rem;
    padding: 0;
    list-style: none;
    
    max-height: 2.2rem;          
    overflow: hidden;
}
.projectCard:hover .skills {
    max-height: none;
    overflow: visible;
}

.skill {
    font-size: 0.9rem;
    font-family:var(--font-open-sans);
    background-color:var(--color-translucent);
    color: var(--color-text);
    border: solid 1px white;
    padding: 4px 12px;
    padding: 0.4rem 0.75rem;
    border-radius: 999px;
    font-size: 0.7rem;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:0;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-family:var(--font-open-sans);
    background: var(--color-secondary);
    padding: 6px 16px;
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: 25px;
    white-space: nowrap;
    text-align: center;
}

/* Media Query for Mobile Screens */
@media (max-width: 480px) {
    .title {
        font-size: 1.3rem;
    }
    .projects {
        grid-template-columns: 1fr;   
        gap: 1rem;                   
        padding: 0 0.5rem;
    }
    .projectCard {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        width: 100%; 
        max-width: 100%; 
        padding: 1rem;
    }

    .image {
        width: 100%; 
        max-width:350px;
        height: 180px; 
        margin-bottom: 1rem; 
    }

    .cardContent {
        align-items: center; 
        text-align: center;

    }

    .description {
        text-align: center; 
        margin: 1rem 0; 
    }

    .skills {
        justify-content: center; 
    }

    .links {
        flex-direction: column; 
        align-items: center; 
        gap: 1rem; 
    }

    .link {
        width: 100%; 
        text-align: center; 
    }
}
