.skillsSection{
    position:relative;
    text-align: center;
    z-index:1;
    padding: 2rem;
}
.title{
    position: relative;
    font-size: 2rem;
    font-weight: 400; 
    line-height:1.6;
    font-family: 'Press Start 2P', cursive; 
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 2rem;
    z-index: 1;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}
.techstackBoxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
    align-items: start;
    max-width: 900px;  
    margin: 0 auto;     
    padding: 0 20px; 
}

.categoryBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.categoryTitle {
    min-height: 56px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 1.1rem;
    font-family: var(--font-open-sans);
    color: var(--color-text);
    background-color: var(--color-primary-translucent);
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    border: 1px solid white;
    width: 100%;   
    text-align: center;
}

.stackItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.techItem {
    background-color: var(--color-translucent);
    color:var(--color-text);
    font-family:var(--font-open-sans);
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    font-size: 1rem;
}

.certificateSection {
    margin: 2rem auto;
    max-width: 900px;
    text-align: center;
    padding-top:2rem;
}
.card {
    padding: 1rem;
}
.image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin: 0;
}
.certText {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-family:var(--font-open-sans);
    font-size: 1rem;
}

/* Mobile Query */
@media (max-width: 480px) {
    .title {
        font-size: 1.3rem;
    }
    .categoryBox {
        flex-direction: column; 
        align-items: center;
        gap: 0.5rem; 
    }

    .categoryTitle {
        width: auto;
        margin-left: 0;
        text-align: center;
    }

    .stackItems {
        justify-content: center; 
    }

    .techItem {
        width: auto; 
        max-width: 80%; 
    }
}

