.skillsSection{
    position:relative;
    text-align: center;
    z-index:1;
    padding: 2rem;
    background: linear-gradient(135deg,var(--color-background) 40%,var(--color-background-secondary) 100%); 
}
.title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top:2rem;
    color: var(--color-primary);
}
.categoryBox {
    margin-bottom: 2rem;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items:center; 
}

.categoryTitle {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--color-text);
}

.stackItems {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.techItem {
    background-color: var(--color-translucent);
    padding: 0.75rem 1rem;
    border-radius: 10px;
    border: 1px solid white;
    backdrop-filter: blur(6px);
    font-weight: 500;
}
.techstackBoxes {
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    gap: 2rem;
    padding: 1rem;
    justify-content:center 
}
.certificateSection {
    margin: 2rem auto;
    max-width: 900px;
    text-align: center;
    color: var(--color-text);
    font-size: 1rem;
}
.card {
    padding: 1rem;
}
.image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}
/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    .techItem {
        padding: 0.5rem 0.75rem; 
        font-size: 0.9rem; 
        width: 100%; 
        text-align: center; 
    }

    .techstackBoxes {
        grid-template-columns: 1fr; 
        gap: 1rem; 
    }
}
