.aboutSection {
    position: relative;
    text-align: center;
    z-index: 1;
    margin:2rem;
}

.aboutTitle {
    color: var(--color-primary);
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.aboutContent {
    color:var(--color-background);
    font-size: 1.4rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 2rem;
}

.smileIcon{
    font-size: 1.5rem; 
    color: var(--color-primary);
}