.aboutSection {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 60px 0;
}

.aboutTitle {
    position: relative;
    font-size: 2rem;
    font-weight: 400; 
    line-height:1.6;
    font-family: 'Press Start 2P', cursive; 
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 2rem;
    z-index: 1;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem; 
    font-size: 0.95rem;
    line-height: 1.6;
    color: var(--color-text);
}
.row {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 2rem; 
    padding: 1rem 1.5rem;
    border-radius: 12px;

    background: linear-gradient(
        to right,
        var(--color-background-secondary) 0%,
        var(--color-translucent) 100%
    );

    color: white;
    
}

.rowIcon {
    font-size: 1.8rem;
    color: white;
    flex-shrink: 0; 
}

.row p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
    font-family: var(--font-open-sans);
    text-align:left;
}

.row:not(:last-child) {
    border-bottom: none;
}

@media (max-width: 480px) {
    .aboutContent .row {
        flex-direction: column;
        text-align: center;
    }
    .aboutContent .row p {
        flex-direction: column;
        text-align: center;
    }
    .aboutTitle {
        font-size: 1.3rem;
    }

    .rowIcon {
        margin-bottom: 0.5rem;
    }
}

:global(section#about) {
    min-height: auto !important;
    height: auto !important;
}
