.contactSection{
    position: relative;
    text-align: left;
    z-index: 1;
    background: #27224b;
    padding: 2rem;
    color:var(--color-text);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100vw;
    padding:2rem;
    gap: 2rem;
}
.title{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem;
    color: var(--color-primary);
}
.links{
    display:flex;
    flex-direction:column;
    gap: 1.5rem;
    font-size:1.2rem;
    list-style: none;
    padding:0;
    margin:0
}
.link{
    display:flex;

}
.link a{
    display: flex;
    align-items: center;      
    gap: 0.8rem;               
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease;
}
.icon{
    margin-right: 1.5rem;
    font-size: 1.6rem;
}
/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    .contactSection {
        flex-direction: column; 
        align-items: center;
        text-align: center; 
        gap: 1rem; 
    }
    .title {
        font-size: 1.2rem; 
        margin: 1rem 0;
    }

    .links {
        gap: 1rem; 
    }

    .link a {
        font-size: 1rem; 
        gap: 0.5rem; 
    }

    .icon {
        margin-right: 0; 
        font-size: 1.4rem; 
    }
}