.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--color-translucent);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.navbarTitle {
    font-family:var(--font-open-sans);
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    list-style: none;
}
.navbarTitle:hover {
    cursor: pointer;
}
.navbarMenu {
    display: flex;
    gap: 2rem; 
    list-style: none;
}
.navbarMenu li {
    font-family:var(--font-open-sans);
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}
.navbarMenu li:hover {
    color: var(--color-primary);
    cursor:pointer
}
.menuIcon {
    display:none;
    color: var(--color-text);
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .navbarMenu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #27224b;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        border-top: 2px solid white;
    }

    .navbarMenu.show {
        display: flex; 
    }

    .menuIcon {
        display: block; 
    }
}
