.navbar {
    position: fixed;
    top: 1.25rem;
    right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 1rem;
    width: auto;
    min-width: 420px;
    background: var(--color-primary-translucent);
    border-radius: 999px; 
    z-index: 1000;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.navbarTitle {
    position: fixed;
    top: calc(1.25rem + 25px); 
    transform: translateY(-50%);
    margin-left: 4rem;
    font-size: 1.2rem;
    font-weight: 400; 
    line-height:1.6;
    font-family: 'Press Start 2P', cursive; 
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-primary);
    z-index: 1001;
    cursor: pointer;
    white-space: nowrap;
}
.navbarMenu {
    display: flex;
    gap: 2rem; 
    list-style: none;
}
.navbarMenu li {
    font-family:var(--font-open-sans);
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}
.navbarMenu li:hover {
    color: var(--color-primary);
    cursor:pointer
}
.menuIcon {
    display:none;
    color: var(--color-text);
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .navbar {
        position:fixed;
        top: 0.75rem;
        right: 0.75rem;
        height: 46px;
        padding: 0 0.75rem;
        min-width: unset;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end; 
    }
    .navbarTitle {
        position: fixed;
        font-size: 1rem;
        margin-left: 2rem;
        right:auto;
        top: calc(0.75rem + 23px); 
        transform: translateY(-50%);
        z-index: 1001;
    }
    .navbarMenu {
        position: fixed;         
        left: 0;                  
        right: 0;               
        width: 100vw;        
        top:10%;           
        transform: translateY(-50%) scale(0.98);
        background-color: #28104e;
        padding: 1.25rem 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;     
        justify-content: center;
        gap: 1rem;
        list-style: none;
        text-align: center;       
        z-index: 2000;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            opacity 0.45s cubic-bezier(0.22, 1, 0.36, 1),
            transform 0.55s cubic-bezier(0.22, 1, 0.36, 1),
            max-height 0.6s ease;
    }
    .navbarMenu li{
        text-align:center;
        width: 100%;    
    }
    .navbarMenu.show {
        max-height: 500px;       
        opacity: 1;
        transform: translateY(0); 
        padding: 1rem;
    }

    .menuIcon {
        display: block;     
        margin-left: auto;
        justify-content: center;
    }
}
