.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--color-translucent);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.navbarTitle {
    position: relative;
    font-size: 1.2rem;
    font-weight: 400; 
    line-height:1.6;
    font-family: 'Press Start 2P', cursive; 
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 2rem;
    z-index: 1;
    list-style: none;
    display:inline;
}
.navbarTitle:hover {
    cursor: pointer;
}
.navbarMenu {
    display: flex;
    gap: 2rem; 
    list-style: none;
}
.navbarMenu li {
    font-family:var(--font-open-sans);
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}
.navbarMenu li:hover {
    color: var(--color-primary);
    cursor:pointer
}
.menuIcon {
    display:none;
    color: var(--color-text);
    font-size: 1.5rem;
}
@media (max-width: 480px) {
    .navbarTitle {
        font-size: 1rem;
    }
    .navbarMenu {
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #28104e;
        width: 100%;
        overflow: hidden;
        max-height: 0;           
        opacity: 0;             
        transform: translateY(-20px);
        transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
        padding: 0 1rem;        
        gap: 1rem;
    }
    .navbarMenu li{
        text-align:center
    }
    .navbarMenu.show {
        max-height: 500px;       
        opacity: 1;
        transform: translateY(0); 
        padding: 1rem;
    }

    .menuIcon {
        display: block; 
    }
}
