.experienceSection{
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 2rem 2rem; 
    min-height: 600px; 
}
.title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top:2rem;
    color: var(--color-primary);
}
.timeline {
    position: relative;
    margin: 0 auto;
    width: 2px;
    background-color: #ccc;
    padding: 2rem 0;
}
.timelineItem {
    position: relative;
    margin-bottom: 6rem;
    min-height:180px
}
.timelineDot {
    width: 14px;
    height: 14px;
    background-color: #27224b;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}
.timelineItemRight .timelineContent {
    position: absolute;
    top:0;
    left: 50%;          
    transform: translateX(30px); 
    text-align: left;
}
.timelineItemLeft .timelineContent {
    position: absolute;
    top:0;
    right: 50%;           
    transform: translateX(-30px); 
    text-align: right;
}

.timelineItemLeft .timelineDate {
    text-align: right;
}

.timelineItemRight .timelineDate {
    text-align: left;
}

.timelineItemRight .timelineContent:hover {
    transform: translateX(50px) scale(1.05); 
    transition: transform 0.3s ease; 
}
.timelineItemLeft .timelineContent:hover {
    transform: translateX(-50px) scale(1.05); 
    transition: transform 0.3s ease; 
}

.timelineContent {
    position: relative;
    width: 500px;
    background-color: white;
    padding: 2rem 1.5rem 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.timelineContent h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}
.timelineContent h4 {
    font-size: 1rem;
    color: #666;
    margin: 0.2rem 0;
}
.timelineDate {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
    color: #27224b;
    margin-bottom: 0.5rem;
}
.timelineContent p {
    margin-top: 0.5rem;
    color: #444;
}
@media (max-width: 780px) {
    .experienceSection {
        padding: 1rem;
    }
    .timeline {
        position: relative;
        left: 0;
        margin: 0;              
    }

    .timelineItem {
        margin-left: 0;  
        justify-content: center;
    }

    .timelineItemLeft .timelineContent,
    .timelineItemRight .timelineContent {
        position: relative;
        left: 0;
        right: 0;
        transform: none;        
        text-align: left;
        max-width: 350px;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .timelineItemLeft .timelineDate,
    .timelineItemRight .timelineDate {
        position: relative;
        top: -0.5rem;
        left: 0;
        transform: none;
        text-align: left;
        display: block;
    }
}
