@import "./vars.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.App {
    background-color: var(--color-text);
    width: 100vw;
    min-height: 100vh;
    height: auto;      
    overflow-x:hidden;
    overflow-y: auto;
}
