@import "./vars.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.App {
    background-color: var(--color-text);
    width: 100%;
    min-height: auto !important;
    height: auto !important;     
    overflow-x:hidden;
    overflow-y: auto;
}
.appHidden {
    opacity: 0;
}

.appVisible {
    opacity: 1;
    transition: opacity 0.6s ease;
}