* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
section{
    scroll-margin-top: 80px;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    background: url('./assets/portfoliobg.png') no-repeat center center fixed;
    background-size: cover;
}

