:root {
    --color-text: #EEEEEE;
    --color-primary: #F02AB5;
    --color-primary-translucent: rgba(240, 42, 181, 0.4);
    --color-secondary: #20E86E;
    --color-background: #090A2A;
    --color-background-secondary: #28104e;
    --color-translucent: rgba(255, 255, 255, 0.05);
    --font-roboto:"Roboto"; 
    --font-open-sans:"Open Sans", sans-serif;
}