:root {
    --color-text: #EEEEEE;
    --color-primary: #F02AB5;
    --color-secondary: #20E86E;
    --color-background: #090A2A;
    --color-background-secondary: #3436B2;
    --color-translucent: rgba(255, 192, 203, 0.1);
    --font-roboto:"Roboto"; 
}